<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Helium.SharedResources" version="13.0.3" targetFramework="net461" />
  <package id="ImPluginEngine" version="1.0.9" targetFramework="net461" />
  <package id="ImPluginEngine.Abstractions" version="1.0.7" targetFramework="net461" />
  <package id="NeonScripting" version="13.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>